* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
}

body {
    background: #fff;
}
a {
    text-decoration: none !important;
}
.wrapper {
    padding-top: 70px;
    min-height: 100vh;
    position: relative;
}
.wrapper .header {
    z-index: 1000;
    background: #202040;
    position: fixed;
    width: calc(100% - 0%);
    height: 75px;
    display: flex;
    top: 0;
    box-shadow: 2px 2px 31px -7px rgba(39, 136, 210, 0.45);
}

.wrapper .header .header-menu {
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}

.wrapper .header .header-menu .title span {
    color: #01b8aa;
}

.wrapper .header .header-menu .sidebar-btn {
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}
.navbar-ul {
    min-width: 280px;
    justify-content: space-around;
    margin: 0;
    font-size: 15px;
    padding: 0;
}
@media (max-width: 468px) {
    .wrapper .header .header-menu .sidebar-btn {
        margin-left: 180px;
    }
    .wrapper .header .header-menu {
        padding: 0 8px;
    }
    .wrapper .header .header-menu .title h3 {
        font-size: 22px;
    }
    .wrapper .header .header-menu ul > li > a {
        margin: 0 5px !important;
    }
}
.wrapper .header .header-menu .sidebar-btn:hover {
    color: #01b8aa;
}

.wrapper .header .header-menu ul {
    display: flex;
}

.wrapper .header .header-menu > ul > li > a {
    color: #fff;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover {
    color: #01b8aa;
}

.wrapper .sidebar {
    z-index: 100;
    /* background: #cae4ea; */
    position: fixed;
    top: 0;
    padding-top: 75px;
    width: 250px;
    height: 100%;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
    box-shadow: -3px 2px 42px -7px rgba(0, 0, 0, 0.5);
}

.wrapper .sidebar .sidebar-menu {
    overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .profile {
    width: 100% !important;
    text-align: center;
}
.wrapper .sidebar .sidebar-menu .profile .username {
    color: #fff;
}
.wrapper .sidebar .sidebar-menu .profile img {
    margin: 20px 0px 10px 0px;
    border-radius: 50%;
    transition: 0.3s;
    width: 90%;
    max-width: 120px;
    border: 2px #fff solid;
}
.wrapper .sidebar .sidebar-menu .profile p {
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    padding: 8px;
    border-bottom: 2px #fff solid;
    margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item {
    width: 250px;
    overflow: hidden;
}
.hidden {
    display: none !important;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn {
    display: block;
    color: #28383c;
    position: relative;
    padding: 15px 15px;
    transition: 0.3s;
    margin: 3px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition-property: color;
    text-align: center;
}
.min-width-sidebar-a {
    text-align: left !important;
    margin-left: 0 !important;
}
.wrapper .sidebar .sidebar-menu .item .active {
    background: #01b8aa;
    color: #fff;
    box-shadow: 2px 5px 8px -7px rgba(0, 0, 0, 0.5);
}

.wrapper .sidebar .sidebar-menu .item .menu-btn-hover:hover {
    background-color: #63eddd;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
    margin-left: 10px;
    font-size: 18px;
}
.dropdown-item {
    color: #28383c;
}

@media (max-width: 468px) {
    .vehicles-actions-dropdown-menu {
        left: -30px !important;
    }
}
/** main content style ****/
.main-content {
    margin-left: auto;
    width: calc(100% - 250px);
    transition: 0.3s;
}
.card {
    box-shadow: 8px 8px 20px -13px rgba(32, 32, 64, 0.49);
    border-style: none;
    border-radius: 0.5rem;
    margin-bottom: 50px;
    text-align: right;
}
.card-header {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-right: 6px #69eadc solid;
    width: calc(100% - 25px);
    margin: auto;
    margin-top: 8px;
    border-radius: 0 !important;
    color: #28383c;
    font-weight: 600;
    font-size: 20px;
}
.footer {
    background-color: #cae4ea;
    position: absolute;
    bottom: 0;
    /*z-index: 100;*/
    padding-left: 60px;
    box-shadow: 2px -2px 34px -6px rgba(39, 136, 210, 0.5);
}
/************************* Bootstrap Vue Table Customization ***************************/
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #edfafd;
}
.table-striped tbody tr:hover {
    background-color: #d4ecf1;
}
.table th,
.table td {
    vertical-align: middle;
}
.table {
    color: #28383c !important;
}
tbody {
    color: #486369;
}
.table thead th {
    border: none;
}
.table td {
    border-top: 1px solid #e5eef7;
}
/*** btn login customize ***/
.btn-mobile-100 {
    width: 100%;
}
@media (max-width: 468px) {
    .btn-login,
    .btn-lign-link {
        width: 100%;
    }
}
.col-form-label {
    color: #28383c;
    font-weight: 500;
    font-size: 18px;
    text-align: left !important;
    margin-left: auto;
}
/***************** custom style ****************/
.dropdown-notify {
    position: fixed;
    width: 280px;
    height: 0px;
    right: 3%;
    top: 60px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px rgba(32, 32, 64, 0.53);
    transition: 0.4s;
}
.notifications-items {
    padding: 4px;
    border-radius: 3px;
    background: #e5e5ff;
    margin-top: 2px;
}
.dropdown-notify-open {
    height: auto;
    padding: 10px;
    max-height: 350px;
}
#checkbox-group-permissions .custom-control-inline {
    background: #d7d7ff !important;
    padding: 5px 30px !important;
    border-radius: 72px !important;
}
.fs-16-fw-400 {
    font-size: 16px;
    font-weight: 400;
}
.fs-18-fw-500 {
    font-size: 18px;
    font-weight: 500;
}
.p-04 {
    padding: 0.4rem !important;
}
.p-028 {
    padding: 0.28rem !important;
}
.custom-file-label {
    z-index: 0 !important;
}
.show-h5 {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin: 0;
    color: #787c7d;
    font-size: 20px;
    font-weight: 400;
}
.navbar-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px #8ad4eb;
}
.navbar-user-avatar-link {
    width: 40px !important;
    height: 40px !important;
}
.user-avatar-online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #32c671;
    right: 0;
    bottom: 0px;
}
.rounded {
    border-radius: 100% !important;
}
@media (max-width: 468px) {
    .header .header-menu .title img {
        width: 100px;
    }
    .wrapper .header .header-menu .sidebar-btn {
        margin-left: 125px;
    }
}
.sidebar-phone-min-width {
    width: 60px !important;
}
.main-content-min-width {
    width: calc(100% - 60px) !important;
}
/******************************************/
@media (max-width: 768px) {
    /*.wrapper .sidebar {
        width: 60px;
    }*/
    .sidebar-phone-min-width {
        width: 0px !important;
    }
    .main-content-min-width {
        width: 100% !important;
    }
    .main-content {
        width: calc(100% - 0px);
    }
    .sidebar-user-avatar {
        width: 55px;
        height: 55px;
    }
    .navbar-user-name {
        display: none;
    }
    .notifications-container {
        max-width: 300px !important;
        /*top: 48px !important;
        left: 0px !important;*/
    }
}
@page {
    size: 94; /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 10mm 10mm 0mm 10mm;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
@media print {
    #print {
        padding: 0 !important;
    }
    .wrapper {
        padding-top: 0;
    }
    .main-content {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .card {
        padding: 0;
    }
    .card-body {
        width: 100%;
        background-color: #fff;
    }
    thead tr {
        color: #4e4e58;
    }
    .bg-light {
        background-color: #fff !important;
    }
    .declaration {
        display: flex !important;
        background-color: #e4e4e4;
    }

    .tooltip {
        display: none !important;
    }
    .print-d-block {
        display: block !important;
    }
    .print-d-flex {
        display: flex !important;
    }
    div[id*="_BV_modal_outer_"] {
        display: none;
    }
}
@media (min-width: 768px) {
    /* ScrollBar Style */
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(62, 173, 121, 0.5);
        border-radius: 5px;
        transition: 0.4s;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #8aebde;
    }
}
/*.b-avatar .b-avatar-img {
    height: 90% !important;
}*/
